<p id="notice"><%= notice %></p>

<%= form_tag(query_cities_path, {method: "get", class: 'row g-3'}) do %>
  <div class="col-md-8">
    <%= label_tag :query, "City:", class: 'form-label' %>
    <%= text_field_tag :query, @query, placeholder: 'Query', class: 'form-control', required: true %>
  </div>
  <div class="col-md-4">
    <%= label_tag :state_id, "State:", class: 'form-label' %>
    <%= select_tag :state_id, options_from_collection_for_select(FederatedState.all, :id, :name, @selected_state_id), class: 'form-select', prompt: 'Select...', required: true %>
  </div>
  <div class="col-12">
    <%= submit_tag "Apply", class: 'btn btn-primary' %>
    <% if @query != nil %>
      <%= link_to query_cities_path do %>
        <%= button_tag 'Clear filter', type: 'button', class: 'btn btn-secondary' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<br>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>City</th>
      <th>State</th>
    </tr>
    </thead>

    <tbody>
    <% if @cities.length > 0 %>
      <% @cities.each do |city| %>
        <tr>
          <td><b><%= city.name %></b></td>
          <td><%= city.federated_state.name %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2"><b>No results found</b></td>
      </tr>
    <% end  %>
    </tbody>
  </table>

<br>

